.inlinePanel {
    background-color: #fafafa;
    width: 75%;
    text-align: left;
    justify-content: left;
    align-items: center;
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.inlineButton {
    justify-content: right;
    align-items: right;
    float: right;
    padding-right: 140px;
}